<img src="assets/title.png">
<mat-card>
    <mat-card-title>Select an option to add to your Order</mat-card-title>
    <mat-card-content>
            <app-product *ngFor="let product of products"
                [product]="product"
                [recipeIngredients]="recipeIngredients" 
                [resetTrigger]="resetSubject.asObservable()"
                (added)="onAdded($event)"></app-product>
    </mat-card-content>
    <div class="total">Total: {{totalCost | currency}}</div>
    <div class="container">
        <button mat-raised-button color="primary" (click)="reset()">
            reset
        </button>
    </div>
</mat-card>
