img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

mat-card {
    width: 85%;
    padding-top: 2%;
    margin:auto;

    mat-card-title {
        text-align: center;
    }
    mat-card-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;

    }
    div.total {
        text-align: center;
    }
    div.container {
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
}