<mat-toolbar color="primary" class="header">
    <button mat-button [matMenuTriggerFor]="afterMenu">menu</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item><a routerLink="/ingredients" routerLinkActive="active">Ingredients</a></button>
    </mat-menu>
    <span>Simple Store Front</span>
    <ng-container *ngIf="isLoggedIn">
        <button mat-raised-button color="accent" (click)=logout()>Logout</button>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
        <button mat-raised-button color="accent" (click)=login()>Login</button>
    </ng-container>
</mat-toolbar>