.login {
    background-color: #7693D7;
    border-radius: 5px;
    box-shadow: rgba(103, 206, 206, 1);
    color: white;
    font: bold 14px Open Sans, sans-serif;
}            

.header {
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
    padding: 1px;
}