<mat-toolbar color="primary" class="header">
    <button mat-button [matMenuTriggerFor]="afterMenu">menu</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <a routerLink="/store" routerLinkActive="active"><button mat-menu-item>Home</button></a>
        <a routerLink="/ingredients" routerLinkActive="active"><button mat-menu-item>Ingredients</button></a>
    </mat-menu>
    <ng-container *ngIf="isLoggedIn">
        <button mat-raised-button color="accent" id="logout" (click)=logout()>Logout</button>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
        <button mat-raised-button color="accent" id="login" (click)=login()>Login</button>
    </ng-container>
</mat-toolbar>