a {
    text-decoration: none;
}
button {
    height: 100%;
    width: 5%;
}
span {
    margin-left: -50%;
}
mat-toolbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 1px;
}
