<div class="container">
    <mat-expansion-panel *ngFor="let ingredient of ingredients">
            <mat-expansion-panel-header>
                {{ingredient.name}}
            </mat-expansion-panel-header>
            <div class="ingredient-container">
                    <img src="{{ingredient.image}}">
                    <mat-card>
                        <mat-list>
                                <mat-list-item>measure: {{ingredient.measure}}</mat-list-item>
                                <mat-list-item>amount: {{ingredient.stock}}</mat-list-item>
                                <mat-list-item>cost: {{ingredient.price | currency}}</mat-list-item>
                        </mat-list>
                    </mat-card>
            </div>
    </mat-expansion-panel>

</div>